@font-face {
    font-family: 'fixel_text_regularregular';
    src: url('./fixeltext-regular-webfont.woff2') format('woff2'),
         url('./fixeltext-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}