$base-color: #111;
$background-color: #FFF;
$footer-background: #E2F0F6;
$text-header: 14px;
$text-body: 10px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Fixel Text', Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  position: relative;
  height: 6.5%;
  padding: 0 1rem;

  img {
    position: absolute;
    top: 25%;
  }

  #logo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.photo {
  position: relative;

  .icons {
    width: 24px;
    height: 24px;
    position: absolute;
    margin: 1rem;
  }

  #arrow-back {
    position: absolute;
  }
  #like {
    top: 17%;
    left: 90%;
    transform: translate(-100%, -100%);
  }
  #share {
    top: 37%;
    left: 90%;
    transform: translate(-100%, -100%);
  }
  #background-photo {
    height: 100%;
    object-fit: cover;
  }

  p {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-100%, -100%);
    color: #FFF;
    font-size: 12px;
    margin: 1rem;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1.2rem 1rem;
  box-shadow: 0 2px 0 rgb(245, 245, 245);

  a {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: #484849;
  }

  a.active {
    color: #1EBE5F;
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      width: 100%;
      height: .2em;
      
      background: #1EBE5F;
      
      position: absolute;
      bottom: -6px;
      left: 0;
      
    }
  }
}

.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;

  .info-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2 {
      font-size: 16px;
    }
  
    p {
      color: #893847;
      font-size: 12px;
    }
  
    .address {
      color: #111;
    }
  }

  .message-button {
    height: 30px;
    width: 50px;
    background-color: #3CDC80;
    border-radius: 20px;
    border: none;

    @include flex-center;
  }
}

.prices {
  padding: 1rem;
  display: flex;
  gap: 5rem;

  p {
    font-size: 10px;
  }

  .price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0.8rem;
  }
}

.features {
  padding: 1rem;
  h2 {
    font-size: 14px;
  }

  .chips-list {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .chips {
      padding: 0.3rem 0.5rem;
      background-color: #F8F8FA;
      color: #484849;
      border-radius: 15px;
      font-size: 12px;
    }
  }
}

.description {
  padding: 1rem;
  font-size: 12px;

  p {
    margin-bottom: 1rem;
  }
}

.more-link {
  position: relative;
  text-decoration: none;

  span {
    color: #686777;
    font-weight: 600;
    position: relative;
    width: fit-content;

    &::after {
      content: "";
      width: 100%;
      height: .2em;
      
      background: #686777;
      
      position: absolute;
      bottom: -6px;
      left: 0;
      
    }
  }

  img {
    position: absolute;
    top: 2px;
  }
}

.map {
  padding: 1rem;

  iframe {
    width: 100%;
    margin-bottom: 1rem;
  }

  span {
    font-size: 12px;
  }

  img {
    top: 5px;
    margin-left: 5px;
  }
}

.phone-call {
  width: calc(100vw - 2rem);
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: #F8F8FA;
  height: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 14px;
    color: #484849;
  }

  button {
    height: 33px;
    width: 71px;
    background-color: #3CDC80;
    border-radius: 20px;
    border: none;

    @include flex-center;
  }
}

hr {
  margin: 0.5rem 1rem;
  border: 0;
  border-top: 0.2px solid #D9D9D9;
}

footer {
  padding: 1rem 1rem 4rem 1rem;
  margin-top: 3rem;
  background-color: $footer-background;

  h2 {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  #description {
    font-size: $text-body;
    margin-bottom: 1rem;
  }

  a {
    color: $base-color;
  }

  div {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      gap: 1rem;
    }
  }

  #useful-links {
    margin-top: 1rem;
    div {
      display: flex;
      flex-direction: column;
      font-size: $text-body;
      gap: 0.4rem;
      text-decoration: underline;
    }
  }

  #footer-logo {
    margin-top: 1rem;
    width: 9rem;
  }
  p {
    font-size: 7px;
  }
}